.head1{
    text-align: center;

    font-family: "Bungee Spice", sans-serif;
    text-shadow: 3px 4px 2px orchid;
}

.head2{
    text-align: center;
    font-family: "Kanit", sans-serif;
    text-decoration: underline;
}

.head3{
    text-align: center;
    text-decoration: underline wavy;
    font-family: "Bokor", system-ui;
    text-decoration-color: black;
}
.wrapper{
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: cadetblue;
}
.wrapper button{
    background-color: darkorchid;
    padding: 8px 20px;
}
.help{
    padding: 20px;
}
#class{
    background-color: aquamarine;
}